extends baseEmail

block content
    p Hola #{firstName},
    p 쯆lvidaste tu contrase침a? Env칤e una solicitud PATCH con tu nueva contrase침a a: #{url}.
    p (La vista para esta acci칩n a칰n no est치 implementada 游땞.)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Restablecer tu contrase침a
    p Si no solicit칩 el cambio de su contrase침a, 춰ignore este correo electr칩nico!
